body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #e0f2f8; /* Celeste claro de fondo */
}

h1 {
    text-align: center;
    background-color: #336699; /* Azul para el título */
    color: #fff; /* Texto blanco */
    padding: 20px;
}

.destinos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.destino {
    background-color: #b2d7e7; /* Celeste pastel para cada destino */
    border: 1px solid #336699; /* Borde azul para cada destino */
    margin: 10px;
    padding: 20px;
    text-align: center;
    max-width: 300px;
}

img {
    max-width: 100%;
    height: auto;
}

.comprar {
    background-color: #336699; /* Azul para el botón de compra */
    color: #fff; /* Texto blanco en el botón de compra */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

.comprar:hover {
    background-color: #225588; /* Color de fondo al pasar el ratón sobre el botón de compra */
}
