body {
    font-family: 'Arial', sans-serif;
    background-color: #b0d9ff; 
    margin: 0;
    padding: 0;
}

.reserva-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
    color: #005baf;
}

form {
    display: grid;
    grid-gap: 15px;
}

label {
    font-weight: bold;
    color: #2980b9;
}

input,
button {
    width: calc(100% - 20px);
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #2980b9;
}
